
HFCA/Library/
HFCA/Temp/

HFCA/UserSettings/EditorUserSettings.asset

HFCA/UserSettings/Layouts/default-2021.dwlt

*.csproj

*.sln

HFCA/UserSettings/

HFCA/Logs/

HFCA/obj/Debug/

HFCA/.idea/.idea.HFCA/.idea/

HFCA/ProjectSettings/SceneTemplateSettings.json

PenaltyForce2019/Library/

PenaltyForce2019/Logs/

PenaltyForce2019/Packages/

PenaltyForce2019/ProjectSettings/

PenaltyForce2019/Temp/

PenaltyForce2019/.idea/.idea.PenaltyForce2019/.idea/

PenaltyForce2019/obj/Debug/
